.abyssal_image {
    height: 200px;
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
    position: relative;
    flex: 33.33%;
    padding: 5px;
}

.image-cell {

}

.abyssal_row{
    display: flex;
}

.abyssalh1 {
    padding-bottom: 0em;
}

.abyssal_under_text {
    text-align: center;
}

.image-text {
  transition: .5s ease;
  position: relative;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  background-color: whitesmoke;
  color: black;
  font-size: 16px;
  padding: 16px 32px;
}

.backimage {
  opacity: 0.3;
}

.hidden-text {
  opacity: 0;
}

.shown-text {
  opacity: 1;
}
