h2 {text-align: center; color: white; font-size: 60px}
#footerP{text-align: center; color: white; font-size: 20px}
#footerD{text-align: center; color: white; font-size: 25px}
#footerA{
	font-size: 30px;
	text-decoration: none;
	color: white;
}

#footerA:hover{
	
	text-decoration:underline;

}
	
footer{
	background-image:url("https://media.moddb.com/images/games/1/22/21972/Narcosis_11.png");
  	background-repeat: no-repeat;
	background-size: auto;
  	z-index: -1;
}