header{
    color: black;
    font-size: 25px;
    font-family: rop;
    box-sizing: border-box;
    height: 100vp;
    background-size: cover;
    background-position: center;
    min-height: 100px;
    margin: auto; 
}

.header{
    padding-bottom: 7em !important;
    padding-top: 3em;
    text-align: center;
    padding-left: -50px;
    color: black;
    font-size: large30em;
}

#topnav{
    list-style-type: none;
    margin: 2em;
    margin-left: 16em;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid gray;
}

#nav{
    padding: 13px;
    text-decoration: none;
    color: black;
    border: 2px solid transparent;
    margin: 30px 0px;
}

#nav:hover{
    color: black;
    border-color: gray;
}

#logo{
    width: 7em;
    height: 7em;
    padding-top: 30px;
    margin-left: 2em;
    position: absolute;
    top: 10px;
}

#topInfo{
    color: black;
    text-align: center;
    max-width: 27em;
    padding: 2em 4em;
    position: absolute;
    left: 12em;
    top: 12em;
    transform: scale(0.94);
    animation: scale 3s forwards cubic-bezier(0.5,1,0.89,1);
    opacity: 1;
}







